

.header {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
}

.header button {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
}
.header button:first-child {
  background: #dbdbdb;
  font-weight: 500;
}

.header button:hover {
  background: #cecdcd;
}

.admin-panel {
  margin: 0;           /* no centering */
  padding: 1rem;
}

